.modal-img {
  max-height: 500px;
  max-width: 100%;
}

.modal-body {
  display: flex;
  justify-content: center;
}

.modal-body-description {
  display: block;
}

.modal-footer-price {
  position: absolute;
  left: 0;
  padding: 16px;
  margin: 0;
}
